@import '~assets/scss/_variables.scss';

.detailed-announcement {
  margin-top: 50px;
  &__about {
    .about {
      background-color: $gray-100;
      border-radius: 5px;
      padding: 20px;
      &__title {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 45px;
      }
      &__details {
        .details-list {
          list-style-type: none;
          padding: 0;
          margin: 0;
          font-size: 16px;
          columns: 2;
          &__item {
            min-height: 70px;
            margin-bottom: 15px;
            .item {
              &__key {
                font-weight: 700;
              }
              &__value {}
            }
          }

        }
      }
      &__description {
        margin-bottom: 50px;
        .description {
          &__key {
            font-weight: 700;
            margin-bottom: 10px;
          }
          &__value {}
        }
      }
      &__favorite {
        display: inline-block;
        cursor: pointer;
        color: $primary;

        .heart {
          font-size: 30px;
          display: inline-block;
        }
        .add {
          display: inline-block;
          vertical-align: super;
        }
      }
    }
  }
  &__author {
    .author {
      background-color: $gray-100;
      border-radius: 5px;
      padding: 20px;
      &__details {
        .details {
          overflow: hidden;
          margin-bottom: 25px;
          &__image {
            width: 100px;
            height: 100px;
            background-image: url('https://www.sololearn.com/avatars/4efbb850-5c9c-4b4c-a9df-54f49b82225a.jpg');
            background-size: cover;
            display: block;
            float: left;
            margin-right: 10px;
          }
          &__name {
            font-size: 18px;
            color: $primary;
          }
        }
      }
      &__contact {
        .contact {
          &__phone {}
          &__textarea {
            .textarea {
              height: 100px;
              margin-bottom: 15px;
              &::-webkit-input-placeholder {
                color: $gray-600;
              }
              &:-moz-placeholder {
                /* Firefox 18- */
                color: $gray-600;
              }
              &::-moz-placeholder {
                /* Firefox 19+ */
                color: $gray-600;
              }
              &:-ms-input-placeholder {
                color: $gray-600;
              }
            }
          }
          &__mail {
            &::placeholder {
              color: $gray-600;
            }
          }
          &__success {
            background-color: $success;
            border-radius: 5px;
            padding: 15px 20px;
            text-align: center;
            color: #fff;
            font-size: 11px;
            font-weight: 700;
          }
          &__button {
            height: 50px;
            display: block;
            width: 100%;
            position: relative;
            .title {
              height: 50%;
              margin: auto;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0
            }
          }
        }
      }
    }
  }
}
