<div class="container">
  <div class="detailed-announcement" *ngIf="privateLesson">
    <div class="detailed-announcement__about col-xs-8">
      <div class="about">
        <div class="about__title"> {{ privateLesson.title }} </div>
        <div class="about__details">
          <ul class="details-list">
            <li class="details-list__item">
              <div class="item">
                <div class="item__key">PRZEDMIOT</div>
                <div class="item__value"> {{ privateLesson.subject }} </div>
              </div>
            </li>
            <li class="details-list__item">
              <div class="item">
                <div class="item__key"> MIEJSCE </div>
                <div class="item__value"> {{ privateLesson.town }}, {{ privateLesson.placeOfLesson }}</div>
              </div>
            </li>
            <li class="details-list__item">
              <div class="item">
                <div class="item__key">CENA</div>
                <div class="item__value"> {{ privateLesson.pricePerHour }} zł/45 min </div>
              </div>
            </li>
            <li class="details-list__item">
              <div class="item">
                <div class="item__key">ZAKRES</div>
                <div class="item__value">
                  <span *ngFor="let level of privateLesson.levels">
                    {{ level }}<span *ngIf="level!==privateLesson.levels[privateLesson.levels.length - 1]">, </span>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="about__description">
          <div class="description">
            <div class="description__key">OPIS</div>
            <div class="description__value">
              {{ privateLesson.description }}
            </div>
          </div>
        </div>
        <div class="about__favorite" (click)="onFavoriteClick()" *ngIf="_authService.loggedIn()">
          <div class="heart">
            &#9825;
          </div>
          <div class="add" *ngIf="!isMyFavoriteAnnouncement">
            Dodaj do ulubionych
          </div>
          <div class="add" *ngIf="isMyFavoriteAnnouncement">
            Dodano do ulubionych
          </div>
        </div>
      </div>
    </div>
    <div class="detailed-announcement__author col-xs-4">
      <div class="author">
        <div class="author__details">
          <div class="details">
            <i class="details__image"></i>
            <div>
              <div class="details__name"> {{ privateLessonOwnerProfile?.name }} </div>
              <div class="details__phone"> {{ privateLessonOwnerProfile?.phone }} </div>
              <div class="contact__input-mail"> {{ privateLessonOwnerProfile?.email }} </div>
            </div>
          </div>
        </div>
        <div class="author__contact">
          <form class="contact" [formGroup]="emailForm" (ngSubmit)="onEmailSubmit(emailForm.value)">
            <div class="contact__phone"> {{ privateLessonOwnerProfile?.phone }} </div>
            <div class="contact__textarea">
              <div class="form-group">
                <textarea class="form-control textarea" rows="5" placeholder="Wiadomość do korepetytora" formControlName="message">
                </textarea>
                <div class="alert bg-danger text-white" *ngIf="emailForm.controls['message'].errors && emailForm.controls['message'].touched">
                  <span *ngIf="emailForm.controls['message'].errors.required">Wymagane Pole.   </span>
                  <span *ngIf="emailForm.controls['message'].errors.minlength">Minimum {{ emailForm.controls['message'].errors.minlength.requiredLength }} znaków.   </span>
                  <span *ngIf="emailForm.controls['message'].errors.maxlength">Maximum {{ emailForm.controls['message'].errors.maxlength.requiredLength }} znaków.   </span>
                </div>
                <div *ngIf="!_authService.loggedIn()">
                  <input type="text" class="form-control contact__mail" placeholder="Twój email" formControlName="sender-email-address">
                  <div class="alert bg-danger text-white" *ngIf="emailForm.controls['sender-email-address'].errors && emailForm.controls['sender-email-address'].touched">
                    <span *ngIf="emailForm.controls['sender-email-address'].errors.required">Wymagane Pole.   </span>
                    <span *ngIf="emailForm.controls['sender-email-address'].errors.invalidEmailAddress">Podaj poprawny adress email.   </span>
                  </div>
                </div>
              </div>
            </div>
            <button class="contact__button btn btn-primary" type="submit" [@crossfade-container]="crossfadeContainerState">  
              <span class="title" [@crossfade]="stateNeutral"> WYŚLIJ </span>
              <span class="title" [@crossfade]="stateSuccess"> WYSŁANO WIADOMOŚĆ POMYŚLNIE! </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
