@import '~assets/scss/_variables.scss';


.lessons {
  margin-bottom: 25px;
  padding-bottom: 55px;
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: none;
  }

  &__category {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__name {
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 16px;
    .name {}
    .link {
      color: #000;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
    .count {
      color: $gray-500;
    }
  }
}
