<div class="lessons" *ngFor="let lessonsSet of lessons">
  <h4 class="lessons__category">{{ lessonsSet.category }}</h4>
  <div class="row">
    <div class="lessons__name col-xs-5" *ngFor="let lesson of lessonsSet.subjects ">
      <div class="name">
        <a class="link" (click)="onLessonClick(lesson)">{{ lesson }}</a>
        <span class="count">({{ getNumberOfAnnoucements(lesson) }})</span>
      </div>
    </div>
  </div>
</div>
