<app-navbar></app-navbar>
<div class="start">
  <div class="container flash-cotnainer">
    <flash-messages></flash-messages>
  </div>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<app-footer></app-footer>
