@import '~assets/scss/_variables.scss';

.search-order {
  background-color: $gray-200;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;

  &__header {
    font-size: 24px;
  }

  &__list {
    width: 100%;
    .list {
      padding: 0;
      list-style-type: none;
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
      flex: 0 0 100%;
      flex-direction: row;
      justify-content: space-around;

      &__item {
        cursor: pointer;
      }
    }
  }
}
