@import '~assets/scss/_variables.scss';

.search-results {
  min-height: 600px;
  border-radius: 5px;

  &__list {
    .list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      &__item {}
    }
  }

}
