<div class="search-results">
  <div class="search-results__list">
    <ul class="list">
      <li class="list__item" *ngFor="let privateLesson of privateLessons">
        <app-short-announcement [privateLesson]="privateLesson">
        </app-short-announcement>
      </li>
    </ul>
  </div>

</div>
