@import '~assets/scss/_variables.scss';



// Nadpisanie regul css z bootstrapa - napis jest niewidoczny
select.form-control:not([size]):not([multiple]) {
	height: auto;
}


.panel {
  border-color: $gray-300;
}


.city-select {
	font-size: 18px;
  border-color: $gray-300;
}

.city-option {
	font-size: 16px;
}


.cities {
	list-style-type: none;
	padding-left: 10px;

	&__item {
		margin-bottom: 10px;
        font-size: 16px;
        cursor: pointer;
        .link {
            color: #000;
            &:hover {
                color: $primary;
            }
        }
        .count {
            color: $gray-500;
        }
	}
}