<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <select [(ngModel)]="selectedVoivodeship" class="form-control city-select" #selectedItem (change)="onSelectedCities(selectedItem.value)">
        <option class="city-option" *ngFor="let city of cities" [ngValue]="city.voivodeship"> 
            {{city.voivodeship}} 
        </option>
    </select>
    </div>
    <ul class="cities">
      <li class="cities__item" *ngFor="let town of selectedCities.towns">
        <div (click)="onTownClick(town)">
          <a class="link">{{ town }}</a>
          <span class="count">
              ({{ getNumberOfAnnoucements(town) }})
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
