@import '~assets/scss/_variables.scss';


.success {
  float: none;
  text-align: center;
  overflow: hidden;
  //  border: solid 1px $gray-300;
  background-color: $gray-100;
  border-radius: 5px;
  .text--ended {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    color: $primary;
  }

  &__info {
    .info {
      background-color: lighten($success, 33%);
      border-radius: 5px;
      margin-bottom: 25px;
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      &__text {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        color: darken($success, 25%);
        line-height: 32px;
        font-size: 24px;
      }
      &__img {
        width: 32px;
        height: 32px;
        display: inline-block;
        background-image: url('../../../../../assets/img/check.png');
        background-size: cover;
      }
    }
  }

  .text--about {
    text-align: center;
    font-size: 13px;
    p {
      margin-bottom: 5px;
    }
  }
  .btn--all-announcements {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
