<div class="success col-md-8 center-block">
  <div class="text--ended">
    <span *ngIf="option==='add'">Dodawanie</span>
    <span *ngIf="option==='edit'">Edytowanie</span> ukończone
  </div>
  <div class="success__info">
    <div class="info">
      <i class="info__img"></i>
      <div class="info__text">
        <span *ngIf="option==='add'">Dodawanie</span>
        <span *ngIf="option==='edit'">Edytowanie</span> ogłoszenia zakończyło się sukcesem!
      </div>
    </div>
  </div>
  <div class="text--about">
    <p>
      Twoje ogłoszenie jest teraz widoczne dla wszystkich użytkowników serwisu.
    </p>
    <p>
      Możesz wejść w swój profil aby przejrzeć ogłoszenia, modyfikować je lub usunąć.
    </p>
  </div>
  <button type="button" class="btn btn-primary btn--all-announcements" [routerLink]="['/profile/my-offers']">
    Zobacz swoje ogłoszenia
  </button>
</div>