<div class="short-announcement" [routerLink]="['/announcements', privateLesson._id]">
  <div class="short-announcement__profile">
    <img width="90" height="90" src="{{image||'https://www.sololearn.com/avatars/4efbb850-5c9c-4b4c-a9df-54f49b82225a.jpg'}}" />
  </div>
  <div class="short-announcement__data">
    <div class="data">
      <div class="data__left-col">
        <div class="left-col">
          <div class="left-col__title">
            <h4> {{ privateLesson.title }} </h4>
          </div>
          <div class="left-col__author">
            {{ privateLesson.author }}
          </div>
          <div class="left-col__description">
            {{ privateLesson.description | truncate: [130] }}
          </div>
          <div class="left-col__localization">
            {{ privateLesson.city }}
          </div>
        </div>
      </div>
      <div class="data__right-col">
        <div class="right-col">
          <div class="right-col__subject">
            {{ privateLesson.subject }}
          </div>
          <div class="right-col__price">
            <div class="price">
              <span class="price__value">
                {{ privateLesson.pricePerHour }} zł
              </span>
              <span class="price__time">
                /60min.
              </span>
            </div>
          </div>
          <div class="right-col__town">
            {{ privateLesson.town }}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
