@import '~assets/scss/_variables.scss';


.short-announcement {
  background-color: $gray-100;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  cursor: pointer;
  &:hover {
    background-color: $gray-200;
  }

  &__profile {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

  }
  &__data {
    width: calc(100% - 95px);
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 20px;

    .data {
      font-size: 0;
      &__left-col {
        display: inline-block;
        width: 70%;
        font-size: 14px;
        .left-col {
          &__title {
            color: $primary;
            font-size: 16px;
            &:hover {
              text-decoration: underline;
            }
          }
          &__author {
            font-weight: 700;
            margin-bottom: 20px;
          }
          &__description {
            margin-bottom: 10px;
          }
          &__localization {}

        }
      }
      &__right-col {
        font-size: 14px;
        width: 30%;
        display: inline-block;
        vertical-align: top;
        .right-col {
          float: right;
          text-align: right;
          &__subject {
            font-weight: 700;
            font-size: 26px;
          }
          &__price {}
          &__town {}
        }
      }
    }
  }
}
