<div *ngIf="user">
  <h2 class="page-header">
    Moje konto
  </h2>
  <ul class="list-group">
    <li class="list-group-item">Nazwa użytkownika: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
</div>
