<div class="container">
  <div class="row col-md-8 col-md-offset-2 col-xs-12">
    <h2 class="page-header">Dodaj Ogłoszenie</h2>
    <app-offer-form [option]="'add'"></app-offer-form>
  </div>
</div>
