@import '~assets/scss/_variables.scss';


select:required:invalid {
  color: $gray-600;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}


.intro {
  min-height: 500px;
  background-image: url("../../../assets/img/bg.jpg");
  background-position: center;
  background-size: cover;

  &__promo {
    .promo {
      margin-top: 100px;
      margin-bottom: 80px;
      text-align: center;
      color: #fff;
      &__title {
        margin-bottom: 20px;
        font-weight: 700;
      }
      &__description {
        letter-spacing: 0.7px;
        .btn--promo {
          font-size: 13px;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-left: 5px;
          margin-right: 5px;
          border-radius: 15px;
          position: relative;
          top: -2px;
          &:hover {
            background-color: #93c54b;
            cursor: text;
          }
        }
      }
    }
  }
  &__search {
    .search {

      &__inputs {
        float: right;

        .input--finder {
          float: left;
          width: 300px;
          border-color: $gray-600;

          &::placeholder {
            color: $gray-600;
          }
        }


        .input--middle {
          border-left: 0;
          border-right: 0;
        }

        .select {
          float: left;
          width: 300px;
          height: 46px;
          position: relative;

          &--cities {
            & > .form-control {
              border-radius: 0px;
              border-color: $gray-600;
            }
          }
          &--lessons {
            & > .form-control {
              border-radius: 0;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              border-color: $gray-600;

            }
          }
          .form-control {
            height: 100%;
          }
        }
      }

      &__btn {
        padding: 10px 30px;
        &:hover {
          background-color: #244363 !important;
        }
        &--glass {
          width: 25px;
          height: 25px;
          display: block;
          background-image: url("../../../assets/img/magnifying-glass.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

.tags {
  &__subjects {
    .subjects {
      &__title {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
  }
  &__cities {
    .cities {
      &__title {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
  }
}
