<section class="intro">
  <div class="container">
    <div class="col-xs-12">
      <div class="intro__promo">
        <div class="promo">
          <h1 class="promo__title">Znajdz korepetycje z aplikacją Centrum Korepetycji!</h1>
          <p class="promo__description">WYBIERAJ SPOŚRÓD <span class="btn btn-success btn--promo">NAJLEPSZYCH</span> OFERT NA RYNKU!</p>
        </div>
      </div>
      <div class="intro__search">
        <form class="search row" [formGroup]="searchForm" (ngSubmit)="onSearchSubmit(searchForm.value, selectedTown.value, selectedSubject.value)">
          <div class="col-xs-10">
            <div class="input-group search__inputs">
              <input type="text" class="form-control input--finder" placeholder="Wpisz szukaną fraze" formControlName="searchTerm" />
              <div class="form-group select select--cities">
                <select class="form-control" required #selectedTown (change)="onSelectedTownChange(selectedTown.value)">
                    <option value="" disabled selected>Wybierz miasto</option>
                    <option class="city-option" *ngFor="let town of towns">
                        {{ town }}
                    </option>
                </select>
              </div>
              <div class="form-group select select--lessons">
                <select class="form-control" required #selectedSubject (change)="onSelectedSubjectChange(selectedSubject.value)">
                    <option value="" disabled selected>Wybierz przedmiot</option>
                    <option class="lesson-option" *ngFor="let lesson of lessons"> 
                      {{ lesson }} 
                    </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <button type="submit" class=" search__btn btn btn-primary">
                <i class="search__btn--glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class=" container tags">
  <div class="tags__subjects col-md-8 col-xs-12">
    <div class="subjects">
      <h2 class="subjects__title">Przedmioty</h2>
      <app-lessons></app-lessons>
    </div>
  </div>
  <div class="tags__cities col-md-4 col-xs-12">
    <div class="cities">
      <h2 class="cities__title">Miasta</h2>
      <app-cities></app-cities>
    </div>
  </div>
</section>
