<nav class="navbar navbar-default navbar--main">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-name" [routerLink]="['/']">
        <i class="icon-logo"></i>
        Centrum Korepetycji
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact: true}'>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar--control">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact: false}'>
          <a [routerLink]="['/announcements']">Ogłoszenia</a>
        </li>
        <li *ngIf="_authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact: false}'>
          <a [routerLink]="['/profile']">Profil</a>
        </li>
        <li *ngIf="!_authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact: true}'>
          <a [routerLink]="['/login']">Zaloguj</a>
        </li>
        <li *ngIf="!_authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact: true}'>
          <a [routerLink]="['/register']">Zarejestruj</a>
        </li>
        <li *ngIf="_authService.loggedIn()">
          <a href="#" (click)="onLogoutClick()">
                Wyloguj
            </a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]='{exact: true}'>
          <button class="btn btn-primary btn--add" [routerLink]="['/profile']">
				Dodaj Ogłoszenie
			</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
