@import '~assets/scss/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lobster');



.btn--add {
  margin-top: 7px;
}

.navbar--main {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar--control {
  flex-direction: row;
}

.brand-name {
  color: $success;
  font-family: 'Lobster', cursive;
  font-size: 25px;
  position: relative;
  top: -8px;

  &:visited {
    color: $success;
  }
  .icon-logo {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background: url("../../../assets/img/logo.svg");
    color: red;
    background-size: 100%;
  }
}
