@import '~assets/scss/_variables.scss';

.announcement {
  background-color: $gray-100;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 25px;

  &__data {
    margin-bottom: 20px;
    .data {
      &__title {
        font-weight: 700;
        color: $gray-500;
        font-size: 16px;
        margin-bottom: 5px;
      }
      &__info {
        margin-bottom: 5px;
      }
      &__price {
        margin-bottom: 5px;
      }
    }
  }
  &__options {
    .options {
      list-style-type: none;
      padding: 0;
      margin: 0;
      &__item {
        color: $primary;
        float: left;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
}