<div class="announcement">
  <div class="announcement__data">
    <div class="data"></div>
    <div class="data__title">
      {{ privateLesson.title }}    
    </div>
    <div class="data__info">
      {{ privateLesson.town }} - {{ privateLesson.subject }}
    </div>
    <div class="data__price">
      {{ privateLesson.pricePerHour }} zł /60min
    </div>
  </div>
  <div class="announcement__options">
    <ul class="options">
      <li 
        class="options__item"
        (click)="onPreviewClick(privateLesson._id)"
      >
        Podgląd
      </li>
      <li 
        class="options__item"
        (click)="onDeleteClick(privateLesson._id)"
      >
        Usuń
      </li>
    </ul>
  </div>


</div>
