@import '~assets/scss/_variables.scss';


// Nadpisanie regul css z bootstrapa - napis jest niewidoczny
select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.offer-form {
  background-color: $gray-100;
  margin-bottom: 50px;

  .empty-option {
    display: none;
  }

}
