<form class="jumbotron col-xs-12 offer-form" [formGroup]="offerForm" (ngSubmit)="onOfferSubmit(offerForm.value)">
  <div class="form-group">
    <label>TYTUŁ OGŁOSZENIA</label>
    <input type="text" class="form-control" formControlName="title">
    <div class="alert bg-danger text-white" *ngIf="offerForm.controls['title'].errors && offerForm.controls['title'].touched">
      <span *ngIf="offerForm.controls['title'].errors.required">Wymagane Pole  </span>
      <span *ngIf="offerForm.controls['title'].errors.minlength">Minimum {{ offerForm.controls['title'].errors.minlength.requiredLength }} znakow  </span>
      <span *ngIf="offerForm.controls['title'].errors.maxlength">Maximum {{ offerForm.controls['title'].errors.maxlength.requiredLength }} znakow  </span>
    </div>
  </div>
  <div class="form-group">
    <label>PRZEDMIOT</label>
    <div class="form-group select select--subject">
      <select id="subject" class="form-control" required formControlName="subject">
          <option class="empty-option" value="null" disabled selected></option>
          <option class="subject-option" *ngFor="let subject of lessonSubjects">
            {{ subject }}
          </option>
      </select>
      <div class="alert bg-danger text-white" *ngIf="offerForm.controls['subject'].errors && offerForm.controls['subject'].touched">
        <span *ngIf="offerForm.controls['subject'].errors.required">Wymagane Pole  </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>MIASTO</label>
    <input type="text" class="form-control" formControlName="town">
    <div class="alert bg-danger text-white" *ngIf="offerForm.controls['town'].errors && offerForm.controls['town'].touched">
      <span *ngIf="offerForm.controls['town'].errors.required">Wymagane pole</span>
      <span *ngIf="offerForm.controls['town'].errors.minlength">Minimum {{ offerForm.controls['town'].errors.minlength.requiredLength }} znakow  </span>
      <span *ngIf="offerForm.controls['town'].errors.maxlength">Maximum {{ offerForm.controls['town'].errors.maxlength.requiredLength }} znakow  </span>
    </div>
  </div>
  <div class="form-group">
    <label>POZIOM</label>
    <div *ngFor="let data of levels">
      <input type="checkbox" (change)="onLessonLevelChange(data.level)" [checked]="data.checked"> {{data.level}}
    </div>
    <div class="alert bg-danger text-white" *ngIf="!isAnyLevelSelected()">
      <span>Wymagane zaznaczenie co najmniej jednego poziomu</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 col-xs-12">
      <label>CENA ZA GODZINĘ</label>
      <input type="number" class="form-control" formControlName="pricePerHour">
      <div class="alert bg-danger text-white" *ngIf="offerForm.controls['pricePerHour'].errors && offerForm.controls['pricePerHour'].touched">
        <span *ngIf="offerForm.controls['pricePerHour'].errors.required">Wymagane pole</span>
        <span *ngIf="offerForm.controls['pricePerHour'].errors.min">Minimalna wartość to 0</span>
        <span *ngIf="offerForm.controls['pricePerHour'].errors.max">Maksymalna wartość to 1000</span>
      </div>
    </div>
    <div class="form-group col-md-6 col-xs-12">
      <label>MIEJSCE KOREPETYCJI</label>
      <select class="form-control" #selectedItem formControlName="placeOfLesson">
          <option class="place-select" *ngFor="let data of placeOfLesson" [ngValue]="data.place"> 
              {{data.place}} 
          </option>
      </select>
      <div class="alert bg-danger text-white" *ngIf="offerForm.controls['placeOfLesson'].errors && offerForm.controls['placeOfLesson'].touched">
        <span *ngIf="offerForm.controls['placeOfLesson'].errors.required">Wymagane Pole  </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">OPIS:</label>
    <textarea class="form-control" rows="5" id="comment" formControlName="description">
        </textarea>
    <div class="alert bg-danger text-white" *ngIf="offerForm.controls['description'].errors && offerForm.controls['description'].touched">
      <span *ngIf="offerForm.controls['description'].errors.required">Wymagane pole</span>
      <span *ngIf="offerForm.controls['description'].errors.minlength">Minimum {{ offerForm.controls['description'].errors.minlength.requiredLength }} znakow  </span>
      <span *ngIf="offerForm.controls['description'].errors.maxlength">Maximum {{ offerForm.controls['description'].errors.maxlength.requiredLength }} znakow  </span>
    </div>
  </div>
  <input *ngIf="option=='add'" [disabled]="!offerForm.valid || !isAnyLevelSelected()" type="submit" class="btn btn-primary col-xs-12" value="DODAJ OGŁOSZENIE">
  <input *ngIf="option=='edit'" [disabled]="!offerForm.valid || !isAnyLevelSelected()" type="submit" class="btn btn-primary col-xs-12" value="EDYTUJ OGŁOSZENIE">
</form>