@import '~assets/scss/_variables.scss';


select:required:invalid {
  color: $gray-600;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}


.search-box {
  width: calc(100% - 25px);
  margin-right: 25px;
  &__title {
    margin: 0;
    font-size: 26px;
    background-color: $gray-200;
    padding: 17px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__primary-data {
    padding: 30px 20px;
    background-color: #eeeeee;
    background-color: $gray-100;
    margin-bottom: 20px;

    .primary-data {
      &__city {
        margin-bottom: 20px;
        .city {
          &__label {
            font-weight: 700;
          }
        }
      }
      &__range {
        margin-bottom: 20px;
        .range {
          &__label {
            font-weight: 700;
          }
        }
      }
      &__price {
        margin-bottom: 20px;
        .price {
          &__title {
            font-weight: 700;
            margin-bottom: 10px;
          }
          &__input {
            display: inline-block;
            width: 70px;
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
      &__button {
        width: 100%;
      }
    }
  }
  &__localization {
    .localization {
      &__title {
        margin: 0;
        font-size: 26px;
        background-color: $gray-200;
        padding: 17px 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &__list {
        background-color: $gray-100;
        padding: 30px 20px;
        .list {
          padding: 0;
          margin: 0;
          list-style-type: none;
          &__item {
            margin-bottom: 5px;
            cursor: pointer;
            .item {
              color: #000;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}
