<div class="search-box">
  <h4 class="search-box__title">Filtry</h4>
  <div class="search-box__primary-data">
    <form class="primary-data form-group" [formGroup]="searchForm" (ngSubmit)="onSearchSubmit(searchForm.value)">
      <div class="primary-data__subject">
      </div>
      <div class="primary-data__city">
        <div class="city">
          <label class="city__label" for="city">Miejscowość:</label>
          <input type="text" class="form-control" id="town" formControlName="town">
        </div>
      </div>
      <div class="primary-data__subject">
        <div class="subject">
          <label class="subject__label">Przedmiot:</label>
          <div class="form-group select select--subject">
            <select class="form-control" required #selectedSubject (change)="onSelectedSubjectChange(selectedSubject.value)">
                <option value="" disabled selected></option>
                <option 
                  class="subject-option"
                  *ngFor="let subject of lessonSubjects"
                >
                  {{ subject }}
                </option>
              </select>
          </div>
        </div>
      </div>
      <div class="primary-data__range">
        <div class="range">
          <label class="range__label">Zakres Materiału:</label>
          <div class="form-group select select--range">
            <select class="form-control" #selectedItem required formControlName="level">
                <option value="" disabled selected>Poziom</option>
                <option class="range-option">Szkoła podstawowa</option>
                <option class="range-option">Gimnazjum</option>
                <option class="range-option">Liceum</option>
                <option class="range-option">Studia</option>
              </select>
          </div>
        </div>
      </div>
      <div class="primary-data__price">
        <div class="price">
          <div class="price__title">Cena:</div>
          <label for="city">od:</label>
          <input type="number" class="form-control price__input" id="from" formControlName="priceMin">
          <label for="city">do:</label>
          <input type="number" class="form-control price__input" id="from" formControlName="priceMax">
        </div>
        <div class="alert bg-danger text-white" *ngIf="searchForm.controls['priceMin'].errors">
          <span *ngIf="searchForm.controls['priceMin'].errors.min">Minimalna wartość początkowa to 0</span>
          <span *ngIf="searchForm.controls['priceMin'].errors.max">Maksymalna wartość początkowa to 1000</span>
        </div>
        <div class="alert bg-danger text-white" *ngIf="searchForm.controls['priceMax'].errors">
          <span *ngIf="searchForm.controls['priceMax'].errors.min">Minimalna wartość końcowa to 0</span>
          <span *ngIf="searchForm.controls['priceMax'].errors.max">Maksymalna wartość końcowa to 1000</span>
        </div>
        <div *ngIf="searchForm.controls['priceMin'].value && searchForm.controls['priceMax'].value">
          <div class="alert bg-danger text-white" *ngIf="searchForm.controls['priceMin'].value > searchForm.controls['priceMax'].value">
            Wartość początkowa musi być mniejsza od wartości końcowej
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary primary-data__button" value="SZUKAJ">
    </form>
  </div>
  <div class="search-box__localization">
    <div class="localization">
      <h4 class="localization__title">Województwa </h4>
      <div class="localization__list">
        <ul class="list">
          <li class="list__item" *ngFor="let voivodeship of voivodeships" (click)="onVoivodeshipClick(voivodeship)">
            <a class="item">
              {{ voivodeship }}
             </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
