<div class="container">
  <section class="profile">
    <div class="profile__nav">
      <ul class="list-inline nav">
        <li *ngFor="let section of sections" class="nav__item {{ section.route }}" [ngClass]="{ 'active' : section.route == getActualRoute() }" [routerLink]="[section.route]" (click)="onSectionClick(section.route)">
          <div class="item">
            <i class="item__icon {{ section.route }}">
                        </i>
            <div class="item__text">
              {{ section.value }}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="profile__show">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </section>
</div>
