@import '~assets/scss/_variables.scss';


.profile {
  &__nav {
    display: flex;
    .nav {
      margin: 30px Auto;
      margin-top: 50px;
      align-items: center;
      justify-content: center;


      a {
        text-decoration: none;
      }

      &__item {
        width: 175px;
        text-align: center;
        border: 1px solid $gray-400;
        border-radius: 4px;
        margin-left: 3px;
        margin-right: 3px;
        cursor: pointer;
        padding: 15px 25px;
        display: inline-block;
        color: $primary;
        filter: grayscale(100%);
        background-color: $gray-100;

        &:hover {
          filter: none;
          border-color: darken($gray-400, 10%);
          background-color: $gray-200;
        }
        &:focus {
          outline: 0;
        }

        &.active {
          filter: none;
          border-color: $primary;
        }

        .item {
          &__icon {
            display: block;
            margin: 0 Auto;
            width: 32px;
            height: 32px;
            background-size: cover;
            margin-bottom: 10px;
            &.add-offer {
              background-image: url('../../../assets/img/add.png');
            }
            &.my-offers {
              background-image: url('../../../assets/img/note.png');
            }
            &.account {
              background-image: url('../../../assets/img/user.png');
            }
            &.favorite-offers {
              background-image: url('../../../assets/img/star.png');
            }

          }
          &__text {}
        }
      }
    }
  }


}
