<div class="favorite-offers">
  <div class="favorite-offers__title">
    <h2>
      Moje ulubione ogłoszenia
    </h2>
  </div>
  <div class="no-offers" *ngIf="isfavoritePrivateLessonsListEmpty">
    Nie dodałeś żadnych ogłoszeń!
  </div>
  <ul class="favorite-offers__list">
    <li *ngFor="let privateLesson of favoritePrivateLessons">
      <app-favorite-announcement [privateLesson]="privateLesson" ($privateLessonEmitter)="handleDeleteClick(privateLesson._id)">
      </app-favorite-announcement>
    </li>
  </ul>
</div>
