<div class="container">
  <h2 class="page-header">Logowanie</h2>
  <form (submit)="onLoginSubmit()">
    <div class="form-group">
      <label>Nazwa użytkownika</label>
      <input type="text" class="form-control" [(ngModel)]="username" name="username">
    </div>
    <div class="form-group">
      <label>Hasło</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password">
    </div>
    <input type="submit" class="btn btn-primary" value="zaloguj">
  </form>
</div>
