<div class="announcements">
  <div class="container">
    <aside class="announcements__aside">
      <app-search-parametrs></app-search-parametrs>
    </aside>
    <main class="announcements__main">
      <app-search-order></app-search-order>
      <app-search-results></app-search-results>
    </main>
  </div>
</div>
