@import '~assets/scss/_variables.scss';


.announcements {
  margin-top: 50px;
  margin-bottom: 50px;
  &__aside {
    display: inline-block;
    vertical-align: top;
    width: 295px;
  }
  &__main {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 300px);
  }
}
