/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

body {
  font-family: 'Roboto', sans-serif;
  min-width: 1200px;
}
