<div class="container">
  <h2 class="page-header">Rejestracja</h2>
  <form (submit)="onRegisterSubmit()">
    <div class="form-group">
      <label>Nazwa użytkownika</label>
      <input type="text" name="username" [(ngModel)]="username" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="email" class="form-control">
    </div>
    <div class="form-group">
      <label>Hasło</label>
      <input type="password" name="password" [(ngModel)]="password" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Zarejestruj">
  </form>
</div>
