<div class="container">
  <div class="row col-md-8 col-md-offset-2 col-xs-12">
    <h2 class="page-header">Edytuj Ogłoszenie</h2>
    <app-offer-form [option]="'edit'"></app-offer-form>
  </div>
</div>
