<footer class="footer">
  <div class="footer__top">
    <div class="top">
      <div class="top__icons-list">
        <ul class="icons-list">
          <li class="icons-list__item"><i class="fb"></i></li>
          <li class="icons-list__item"><i class="twitter"></i></li>
          <li class="icons-list__item"><i class="instagram"></i></li>
          <li class="icons-list__item"><i class="tumblr"></i></li>
        </ul>
      </div>
      <div class="top__nav-list">
        <ul class="nav-list ">
          <li class="nav-list__item">REGULAMIN</li>
          <li class="nav-list__item">KONTAKT</li>
          <li class="nav-list__item">POLITYKA PRYWATNOŚCI</li>
          <li class="nav-list__item">FAQ</li>
        </ul>
      </div>
      <div class="top__nav-list-second">
        <ul class="nav-list ">
          <li class="nav-list__item">
            <a [routerLink]="['/announcements']">OGŁOSZENIA</a>
          </li> |
          <li class="nav-list__item">
            <a [routerLink]="['/']">STRONA GŁÓWNA</a>
          </li> |
          <li class="nav-list__item">
            <a [routerLink]="['/profile']">
              PROFIL
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="bottom">
      <div class="bottom__info">
        <div class="info">
          <p class="info__paragraph">Korzystanie z serwisu www.centrumKorepetycji.pl oznacza akceptację regulaminu.</p>
          <p class="info__paragraph info__paragraph--bottom">Wszelkie prawa zastrzeżone. Copyright © 2017 - 2018</p>
        </div>
      </div>
    </div>
  </div>
</footer>
