@import '~assets/scss/_variables.scss';

.footer {
  background-color: $primary;
  color: $white;
  text-align: center;

  &__top {
    .top {
      padding: 40px 0;
      background-color: $dark;
      &__icons-list {
        .icons-list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          text-align: center;
          &__item {
            display: inline-block;
            margin: 0 15px;
            margin-bottom: 15px;
            i {
              display: block;
              width: 32px;
              height: 32px;
              background-size: cover;
              cursor: pointer;
            }
            .fb {
              background-image: url('../../../assets/img/facebook.png');
            }
            .twitter {
              background-image: url('../../../assets/img/twitter-logo-button.png');
            }
            .instagram {
              background-image: url('../../../assets/img/instagram-logo.png');
            }
            .tumblr {
              background-image: url('../../../assets/img/tumblr.png');
            }
          }
        }
      }
      &__nav-list {
        .nav-list {
          font-weight: 500;
          margin: 0;
          padding: 0;
          margin-bottom: 20px;
          list-style-type: none;
          text-align: center;
          &__item {
            display: inline-block;
            margin: 0px 15px;
            cursor: pointer;
          }
        }
      }
      &__nav-list-second {
        font-size: 12px;
        .nav-list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          text-align: center;
          &__item {
            display: inline-block;
            margin: 0px 15px;
            cursor: pointer;

            & > a {
              color: #fff;
              &:hover {
                text-decoration: none
              }
            }
          }
        }
      }
    }
  }
  &__bottom {
    .bottom {
      &__info {
        background-color: $primary;
        padding: 20px 0;
        font-size: 13px;
        .info {
          &__paragraph {
            margin: 5px;
            &--bottom {
              color: $gray-400;
            }
          }
        }
      }
    }
  }

}
