@import '~assets/scss/_variables.scss';

.my-offers {
  margin-bottom: 50px;
  &__title {
    margin-bottom: 40px;
  }

  &__list {
    .list {
      list-style-type: none;
      padding: 0px;
      margin: 0;
      &__item {}
    }
  }
}
