<div class="my-offers">
  <div class="my-offers__title">
    <h2>
      Moje ogłoszenia
    </h2>
  </div>
  <div class="my-offers__list">
    <div *ngIf="privateLessons">
      <div class="no-offers" *ngIf="isPrivateLessonsListEmpty">
        Nie dodałeś żadnych ogłoszeń!
      </div>
      <ul class="list">
        <li class="list__item" *ngFor="let privateLesson of privateLessons">
          <app-my-announcement [privateLesson]="privateLesson" ($privateLessonEmitter)="handleDeleteClick(privateLesson._id)">
          </app-my-announcement>
        </li>
      </ul>
    </div>
  </div>
</div>
